<head>
    <meta charset="utf-8">
    <title>Ramblin Wrecks</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
    <div class="search-results">
        <h1>Inventory Age Report Report</h1>
        <% if(vehicles.length === 0) { %>
            <h2>There are currenty no vehicles in inventory!</h2>
        <% } else { %>
        <table>
            <tr>
                <th>VehicleType</th>
                <th>MaxAge</th>
                <th>AveAge</th>
                <th>MinAge</th>
                
            </tr>
                <% vehicles.forEach((v) => { %>
                    <tr>
                        <td><%= v.VehicleType %></td>
                        <td><%= v.MaxAge %></td>
                        <td><%= v.AvgAge %></td>
                        <td><%= v.MinAge %></td>    
                    </tr>
                <%  }); %>
        </table>
    <% } %> 
    </div>
</body>
